.order-head
{
    width: 60%; 
    max-width:100%; 
    margin: 0 auto; 
    background-color: #343a40;
    padding: 7px 20px;
    color: #fff;
}

.order-products
{
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    padding: 7px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.orderText1
{
    width: 60%;
}

.orderText2
{
    width: 20%;
    text-align: right;
}