.order-head
{
    width: 60%; 
    max-width:100%; 
    margin: 0 auto; 
    background-color: brown;
    padding: 7px 20px;
}

.order-products
{
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
    background-color: green;
    padding: 7px 20px;
}

.orderText1
{
    width: 60%;
}

.orderText2
{
    width: 20%;
    text-align: right;
}