body{
	background-color: darkgray;
}

.trailer1{
	position: absolute;
	margin-top: 30px;
	margin-left:430px;
	width: 45%;
	height: 500px;
}
.movies1{
	position: absolute;
	margin-top: 30px;
	margin-left: 10px;
	width: 400px;
	height: 500px;
}

.groupie{
	position:absolute;
	right:50px;
	margin-top: 140px;
}
.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 230px;
    width: 100%;
    border: 10px solid #F2F2F2;
}
.form-inline{
	float:right;
	width: 25%;
}

.pb-cmnt-container {
	position:absolute;
    font-family: Lato;
    bottom: 0px;
	right: 80px;
	height: 10px;

}
.text-container{
	position:absolute;
	bottom:0px;
	height: 10px;
}